.button {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  outline:none;
  &.disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    * {
      pointer-events: none;
    }
  }

  // size & shape
  &.button-rectangular {
    &.button-small {
      @include button-size-shape($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, 0);
    }
    &.button-middle {
      @include button-size-shape($btn-padding-y, $btn-padding-x, $btn-font-size, 0);
    }
    &.button-large {
      @include button-size-shape($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, 0);
    }
  }
  &.button-rounded {
    &.button-small {
      @include button-size-shape($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
    }
    &.button-middle {
      @include button-size-shape($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
    }
    &.button-large {
      @include button-size-shape($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
    }
  }
  &.button-elliptic {
    &.button-small {
      @include button-size-shape($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, ($btn-padding-y-sm * 2 + $line-height-sm) / 2);
    }
    &.button-middle {
      @include button-size-shape($btn-padding-y, $btn-padding-x, $btn-font-size, ($btn-padding-y * 2 + $line-height-base) / 2);
    }
    &.button-large {
      @include button-size-shape($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, ($btn-padding-y-lg * 2 + $line-height-lg) / 2);
    }
  }
  &.button-circle {
    &.button-small {
      @include button-size-shape($btn-padding-y-sm, $btn-padding-y-sm, $btn-font-size-sm, 50%);
      width: 2rem;
      height: 2rem;
    }
    &.button-middle {
      @include button-size-shape($btn-padding-y, $btn-padding-y, $btn-font-size, 50%);
      width: 2.5rem;
      height: 2.5rem;
    }
    &.button-large {
      @include button-size-shape($btn-padding-y-lg, $btn-padding-y-lg, $btn-font-size-lg, 50%);
      width: 3rem;
      height: 3rem;
    }
  }

  // btnType & themeColor
  &.button-solid {
    @each $key, $val in $base-and-neutral-colors {
      &.button-#{$key} {
        @include button-color($val, $val, $white);
      }
    }
  }
  &.button-hollow {
    @each $key, $val in $base-and-neutral-colors {
      &.button-#{$key} {
        @include button-color(
                        $white, $gray-400, $body-color,
                        $white, $gray-400, $body-color,
                        $white, $val, $val,
                        $white, darken($val, 20%), darken($val, 20%));
      }
    }
  }
  &.button-inverse {
    @each $key, $val in $base-and-neutral-colors {
      &.button-#{$key} {
        @include button-color(
                        $white, $gray-400, $val,
                        $white, $gray-400, $val,
                        $val, $val, $white,
                        darken($val, 20%), darken($val, 20%), $white);
      }
    }
  }
}

//.btn-link {
//  font-weight: $font-weight-normal;
//  color: $btn-link-color;
//  text-decoration: $link-decoration;
//  box-shadow: none;
//  &:hover {
//    color: $btn-link-hover-color;
//    text-decoration: $link-hover-decoration;
//  }
//  &:focus,
//  &.focus {
//    text-decoration: $link-hover-decoration;
//    box-shadow: none;
//  }
//  &.disabled,
//  &[disabled] {
//    cursor: not-allowed;
//    color: $btn-link-disabled-color;
//    pointer-events: none;
//  }
//}
