.list {
  display: block;
  overflow: hidden;
  text-decoration: none;
  list-style-type: none;
  background-color: $white;
  padding: 0;

  .list-item {
    display: block;
    transition: background-color .1s ease-in-out 0s, color .1s ease-in-out 0s;
    padding: .5rem 1rem .5rem 1rem;
    margin: 0;
  }

  &.list-interaction-style-lighten {
    &.list-interaction-hoverable {
      .list-item {
        color: $black;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              color: $val;
            }
          }
        }
      }
    }
    &.list-interaction-clickable {
      .list-item {
        cursor: pointer;
        color: $black;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-d1 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:active {
              color: $val;
            }
          }
        }
      }
    }
    &.list-interaction-selectable {
      .list-item {
        cursor: pointer;
        color: $black;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              color: $val;
            }
            &.selected {
              color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-d1 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:active {
              color: $val;
            }
          }
        }
      }
    }
  }

  &.list-interaction-style-shadow {
    &.list-interaction-hoverable {
      .list-item {
        background-color: $white;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors-l4 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              background-color: $val;
            }
          }
        }
      }
    }
    &.list-interaction-clickable {
      .list-item {
        cursor: pointer;
        background-color: $white;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors-l4 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              background-color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-l2 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:active {
              background-color: $val;
            }
          }
        }
      }
    }
    &.list-interaction-selectable {
      .list-item {
        cursor: pointer;
        background-color: $white;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors-l4 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              background-color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-l2 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:active {
              background-color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-l3 {
        &.list-theme-color-#{$key} {
          .list-item {
            &.selected {
              background-color: $val;
            }
          }
        }
      }
    }
  }

  &.list-interaction-style-lighten-shadow {
    &.list-interaction-hoverable {
      .list-item {
        background-color: $white;
        color: $black;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              color: $val;
            }
          }
        }
      }
    }
    &.list-interaction-clickable {
      .list-item {
        cursor: pointer;
        background-color: $white;
        color: $black;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              color: $val;
            }
            &:active {
              color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-l3 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:active {
              background-color: $val;
            }
          }
        }
      }
    }
    &.list-interaction-selectable {
      .list-item {
        cursor: pointer;
        background-color: $white;
        color: $black;
        &.disabled {
          cursor: not-allowed !important;
          background-color: $white !important;
          color: $gray-11 !important;
        }
      }
      @each $key, $val in $base-colors {
        &.list-theme-color-#{$key} {
          .list-item {
            &:hover {
              color: $val;
            }
            &:active {
              color: $val;
            }
            &.selected {
              color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-l3 {
        &.list-theme-color-#{$key} {
          .list-item {
            &:active {
              background-color: $val;
            }
          }
        }
      }
      @each $key, $val in $base-colors-l4 {
        &.list-theme-color-#{$key} {
          .list-item {
            &.selected {
              background-color: $val;
            }
          }
        }
      }
    }
  }

  // border radius size
  @each $key, $val in $list-border-radius-sizes {
    &.list-border-radius-#{$key} {
      border-radius: $val;
    }
  }

  // border color
  @each $key, $val in $base-colors-l2 {
    &.list-border-color-#{$key} {
      border: 1px solid $val;
    }
  }

  // shadow size
  @each $key, $val in $list-shadow-sizes {
    &.list-shadow-#{$key} {
      box-shadow: $val;
    }
  }
}
