@mixin button-size-shape($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-color(
  $background,
  $border,
  $color,
  $focus-background: $background,
  $focus-border: $border,
  $focus-color: $color,
  $hover-background: lighten($background, 10%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
  $active-background: darken($background, 10%),
  $active-border: darken($border, 10%),
  $active-color: $color,
  $disabled-background: lighten($background, 20%),
  $disabled-border: lighten($border, 20%),
  $disabled-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:focus {
    color: $focus-color;
    background: $focus-background;
    border-color: $focus-border;
    outline: none;
  }
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:active {
    color: $active-color;
    background: $active-background;
    border-color: $active-border;
  }
  &:disabled,
  &.disabled {
    color: $disabled-color;
    background: $disabled-background;
    border-color: $disabled-border;
    cursor: not-allowed;
  }
}

@mixin menu-item-plain-color(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 10%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
  $active-background: darken($background, 10%),
  $active-border: darken($border, 10%),
  $active-color: $color,
  $selected-background: darken($background, 10%),
  $selected-border: darken($border, 10%),
  $selected-color: $color,
  $disabled-background: lighten($background, 20%),
  $disabled-border: lighten($border, 20%),
  $disabled-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &.menu-item-selected {
    color: $selected-color;
    background: $selected-background;
    border-color: $selected-border;
  }
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:active:not(.menu-item-disabled) {
    color: $active-color;
    background: $active-background;
    border-color: $active-border;
  }
  &:disabled,
  &.menu-item-disabled {
    color: $disabled-color;
    background: $disabled-background;
    border-color: $disabled-border;
  }
}

@mixin menu-item-border-top-color(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 10%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
  $active-background: darken($background, 10%),
  $active-border: darken($border, 10%),
  $active-color: $color,
  $selected-background: darken($background, 10%),
  $selected-border: darken($border, 10%),
  $selected-color: $color,
  $disabled-background: lighten($background, 20%),
  $disabled-border: lighten($border, 20%),
  $disabled-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  border-top: $menu-item-active-border-width solid $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
    border-top: $menu-item-active-border-width solid $hover-border;
  }
  &.menu-item-selected {
    color: $selected-color;
    background: $selected-background;
    border-color: $selected-border;
    border-top: $menu-item-active-border-width solid $selected-border;
  }
  &:active:not(.menu-item-selected.menu-item-disabled) {
    color: $active-color;
    background: $active-background;
    border-color: $active-border;
    border-top: $menu-item-active-border-width solid $active-border;
  }
  &:disabled,
  &.menu-item-disabled {
    color: $disabled-color;
    background: $disabled-background;
    border-color: $disabled-border;
    border-top: $menu-item-active-border-width solid $white;
  }
}

@mixin menu-item-border-bottom-color(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 10%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
  $active-background: darken($background, 10%),
  $active-border: darken($border, 10%),
  $active-color: $color,
  $selected-background: darken($background, 10%),
  $selected-border: darken($border, 10%),
  $selected-color: $color,
  $disabled-background: lighten($background, 20%),
  $disabled-border: lighten($border, 20%),
  $disabled-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  border-bottom: $menu-item-active-border-width solid $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
    border-bottom: $menu-item-active-border-width solid $hover-border;
  }
  &.menu-item-selected {
    color: $selected-color;
    background: $selected-background;
    border-color: $selected-border;
    border-bottom: $menu-item-active-border-width solid $selected-border;
  }
  &:active:not(.menu-item-selected.menu-item-disabled) {
    color: $active-color;
    background: $active-background;
    border-color: $active-border;
    border-bottom: $menu-item-active-border-width solid $active-border;
  }
  &:disabled,
  &.menu-item-disabled {
    color: $disabled-color;
    background: $disabled-background;
    border-color: $disabled-border;
    border-bottom: $menu-item-active-border-width solid $white;
  }
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top,
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}

@mixin border-right-radius($raduis) {
  border-top-right-radius: $raduis;
  border-bottom-right-radius: $raduis;
}

@mixin border-left-radius($raduis) {
  border-top-left-radius: $raduis;
  border-bottom-left-radius: $raduis;
}