// neutral color
$gray-0: #000000 !default;
$gray-1: #1f1f1f !default;
$gray-2: #2f2f2f !default;
$gray-3: #3f3f3f !default;
$gray-4: #4f4f4f !default;
$gray-5: #5f5f5f !default;
$gray-6: #6f6f6f !default;
$gray-7: #7f7f7f !default;
$gray-8: #8f8f8f !default;
$gray-9: #9f9f9f !default;
$gray-10: #afafaf !default;
$gray-11: #bfbfbf !default;
$gray-12: #cfcfcf !default;
$gray-13: #dfdfdf !default;
$gray-14: #efefef !default;
$gray-15: #ffffff !default;

$black: $gray-0 !default;
$white: $gray-15 !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #d6d6d6 !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// base color
$blue-l4: #e9f3ff !default;
$blue-l3: #c6e0ff !default;
$blue-l2: #8bbfff !default;
$blue-l1: #4a9dff !default;
$blue: #057aff !default;
$blue-d1: #035dc6 !default;
$blue-d2: #013e8a !default;
$blue-d3: #001e49 !default;
$blue-d4: #000e2b !default;

$purple-l4: #f5eef5 !default;
$purple-l3: #e6d2e6 !default;
$purple-l2: #cca5cc !default;
$purple-l1: #b073b0 !default;
$purple: #953e95 !default;
$purple-d1: #722d72 !default;
$purple-d2: #4e1d4e !default;
$purple-d3: #270a27 !default;
$purple-d4: #150615 !default;

$pink-l4: #ffeff6 !default;
$pink-l3: #fdd6e7 !default;
$pink-l2: #fbacd0 !default;
$pink-l1: #fa7fb8 !default;
$pink: #f84f9f !default;
$pink-d1: #c13a7a !default;
$pink-d2: #862654 !default;
$pink-d3: #47102a !default;
$pink-d4: #2a0816 !default;

$red-l4: #fcedee !default;
$red-l3: #f7d1d2 !default;
$red-l2: #f0a2a5 !default;
$red-l1: #e86e73 !default;
$red: #e0363e !default;
$red-d1: #ae282d !default;
$red-d2: #79181d !default;
$red-d3: #3f090a !default;
$red-d4: #250606 !default;

$orange-l4: #fef3eb !default;
$orange-l3: #fde1cc !default;
$orange-l2: #fbc398 !default;
$orange-l1: #f9a35d !default;
$orange: #f7821b !default;
$orange-d1: #c06312 !default;
$orange-d2: #86440a !default;
$orange-d3: #472005 !default;
$orange-d4: #2a1002 !default;

$yellow-l4: #fff8ec !default;
$yellow-l3: #feeece !default;
$yellow-l2: #fedc9b !default;
$yellow-l1: #fdca64 !default;
$yellow: #fcb825 !default;
$yellow-d1: #c48e1a !default;
$yellow-d2: #89620f !default;
$yellow-d3: #483206 !default;
$yellow-d4: #2b1c04 !default;

$green-l4: #f1f8ee !default;
$green-l3: #daeed4 !default;
$green-l2: #b5dda8 !default;
$green-l1: #8dcb78 !default;
$green: #64ba45 !default;
$green-d1: #4b8f33 !default;
$green-d2: #326321 !default;
$green-d3: #16320c !default;
$green-d4: #0a1c07 !default;

$gray-l4: #f5f5f5 !default;
$gray-l3: #e6e6e6 !default;
$gray-l2: #cdcdcd !default;
$gray-l1: #b2b2b2 !default;
$gray: #989898 !default;
$gray-d1: #747474 !default;
$gray-d2: #505050 !default;
$gray-d3: #272727 !default;
$gray-d4: #151515 !default;

// brand color
$primary: $blue !default;
$secondary: $gray-400 !default;

// functional color
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$base-colors-l4: (
        "blue": $blue-l4,
        "purple": $purple-l4,
        "pink": $pink-l4,
        "red": $red-l4,
        "orange": $orange-l4,
        "yellow": $yellow-l4,
        "green": $green-l4,
        "gray": $gray-l4
);

$base-colors-l3: (
        "blue": $blue-l3,
        "purple": $purple-l3,
        "pink": $pink-l3,
        "red": $red-l3,
        "orange": $orange-l3,
        "yellow": $yellow-l3,
        "green": $green-l3,
        "gray": $gray-l3
);

$base-colors-l2: (
        "blue": $blue-l2,
        "purple": $purple-l2,
        "pink": $pink-l2,
        "red": $red-l2,
        "orange": $orange-l2,
        "yellow": $yellow-l2,
        "green": $green-l2,
        "gray": $gray-l2
);

$base-colors-l1: (
        "blue": $blue-l1,
        "purple": $purple-l1,
        "pink": $pink-l1,
        "red": $red-l1,
        "orange": $orange-l1,
        "yellow": $yellow-l1,
        "green": $green-l1,
        "gray": $gray-l1
);

$base-colors: (
        "blue": $blue,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "gray": $gray
);

$base-colors-d1: (
        "blue": $blue-d1,
        "purple": $purple-d1,
        "pink": $pink-d1,
        "red": $red-d1,
        "orange": $orange-d1,
        "yellow": $yellow-d1,
        "green": $green-d1,
        "gray": $gray-d1
);

$base-colors-d2: (
        "blue": $blue-d2,
        "purple": $purple-d2,
        "pink": $pink-d2,
        "red": $red-d2,
        "orange": $orange-d2,
        "yellow": $yellow-d2,
        "green": $green-d2,
        "gray": $gray-d2
);

$base-colors-d3: (
        "blue": $blue-d3,
        "purple": $purple-d3,
        "pink": $pink-d3,
        "red": $red-d3,
        "orange": $orange-d3,
        "yellow": $yellow-d3,
        "green": $green-d3,
        "gray": $gray-d3
);

$base-colors-d4: (
        "blue": $blue-d4,
        "purple": $purple-d4,
        "pink": $pink-d4,
        "red": $red-d4,
        "orange": $orange-d4,
        "yellow": $yellow-d4,
        "green": $green-d4,
        "gray": $gray-d4
);

$neutral-colors: (
        "gray-0": $gray-0,
        "gray-1": $gray-1,
        "gray-2": $gray-2,
        "gray-3": $gray-3,
        "gray-4": $gray-4,
        "gray-5": $gray-5,
        "gray-6": $gray-6,
        "gray-7": $gray-7,
        "gray-8": $gray-8,
        "gray-9": $gray-9,
        "gray-10": $gray-10,
        "gray-11": $gray-11,
        "gray-12": $gray-12,
        "gray-13": $gray-13,
        "gray-14": $gray-14,
        "gray-15": $gray-15
);

$black-white: (
        "black": $black,
        "white": $white
);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "warning":    $warning,
  "danger":     $danger
);

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// 字体大小
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-root:              null !default;

// 字重
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

// 行高
$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

// 标题大小
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// 链接
$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

// body
$body-bg:                   $white !default;
$body-color:                $gray-900 !default;
$body-text-align:           null !default;

// Spacing
$spacer: 1rem !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

// Paragraphs

$paragraph-margin-bottom:   0 !default;

// 字体其他部分 heading list hr 等等
$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

$text-muted:                  $gray-600 !default;

$initialism-font-size:        $small-font-size !default;

$blockquote-small-color:      $gray-600 !default;
$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;

$hr-color:                    inherit !default;
$hr-height:                   1px !default;
$hr-opacity:                  .25 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$mark-padding:                .2em !default;

$dt-font-weight:              $font-weight-bold !default;

$nested-kbd-font-weight:      $font-weight-bold !default;

$list-inline-padding:         .5rem !default;

$mark-bg:                     #fcf8e3 !default;

$hr-margin-y:                 $spacer !default;

// Code

$code-font-size:                    $small-font-size !default;
$code-color:                        $pink !default;
$pre-color:                         null !default;

// options 可配置选项
$enable-pointer-cursor-for-buttons:           true !default;

// 边框 和 border radius
$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

// 不同类型的 box shadow
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  .2rem .5rem 2rem rgba($black, .1) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

// Button
// Button基本属性
$btn-font-weight:             400;
$btn-padding-y:               .375rem !default;
$btn-padding-x:               .75rem !default;
$btn-font-family:             $font-family-base !default;
$btn-font-size:               $font-size-base !default;
$btn-line-height:             $line-height-base !default;

// 不同大小Button的 padding 和 font size
$btn-padding-y-sm:            .25rem !default;
$btn-padding-x-sm:            .5rem !default;
$btn-font-size-sm:            $font-size-sm !default;

$btn-padding-y-lg:            .5rem !default;
$btn-padding-x-lg:            1rem !default;
$btn-font-size-lg:            $font-size-lg !default;

// Button边框
$btn-border-width:            $border-width !default;

// Button其他
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-disabled-opacity:        .65 !default;

// 链接Button
$btn-link-color:              $link-color !default;
$btn-link-hover-color:        $link-hover-color !default;
$btn-link-disabled-color:     $gray-600 !default;


// Button radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// menu
$menu-border-width:            $border-width !default;
$menu-border-color:            $border-color !default;
$menu-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$menu-transition:              color .15s ease-in-out, border-color .15s ease-in-out !default;

// menu-item
$menu-item-padding-y:          .5rem !default;
$menu-item-padding-x:          1rem !default;
$menu-item-active-color:       $primary !default;
$menu-item-active-border-width: 2px !default;
$menu-item-disabled-color:     $gray-600 !default;

//sub-menu
//submenu
$submenu-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);

//input
$input-padding-y:                       $btn-padding-y !default;
$input-padding-x:                       $btn-padding-x !default;
$input-font-family:                     $btn-font-family !default;
$input-font-size:                       $btn-font-size !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $btn-line-height !default;

$input-padding-y-sm:                    $btn-padding-y-sm !default;
$input-padding-x-sm:                    $btn-padding-x-sm !default;
$input-font-size-sm:                    $btn-font-size-sm !default;

$input-padding-y-lg:                    $btn-padding-y-lg !default;
$input-padding-x-lg:                    $btn-padding-x-lg !default;
$input-font-size-lg:                    $btn-font-size-lg !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $gray-200 !default;
$input-disabled-border-color:           null !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $border-width !default;
$input-box-shadow:                      $box-shadow-inset !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($primary, 25%) !default;
$input-focus-width:                     .2rem !default;
$input-focus-color:                     $input-color !default;
$input-focus-shadow-color:              rgba($primary, .25) !default;
$input-focus-box-shadow:                0 0 0 $input-focus-width $input-focus-shadow-color !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;


$input-transition:                      border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

// Progress bars

$progress-font-size:                $font-size-base * .75 !default;
$progress-bg:                       $gray-200 !default;
$progress-border-radius:            $border-radius !default;
$progress-bar-color:                $white !default;
$progress-bar-transition:           width .6s ease !default;

// Card
$card-padding: 1.5rem !default;
$card-border: $border-width solid $gray-13 !default;
$card-box-shadow: $box-shadow !default;

$card-rectangular-border-radius: 0 !default;
$card-rounded-border-radius: $border-radius !default;

$card-transition: box-shadow .3s ease-in-out !default;

// List
$list-border-radius-sizes: (
        "none": 0,
        "small": .3rem,
        "middle": .6rem,
        "large": 1rem
);
$list-shadow-sizes: (
        "none": 0,
        "small": 0 .125rem .25rem rgba($black, .075),
        "middle": .2rem .5rem 2rem rgba($black, .1),
        "large": 0 1rem 3rem rgba($black, .175)
);

// Input
$input-content-size-paddings: (
        "small": 3px 6px,
        "middle": 6px 9px,
        "large": 9px 12px
);
$input-affix-size-paddings: (
        "small": 3px 12px,
        "middle": 6px 15px,
        "large": 9px 18px
);
