.card {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  border: $card-border;
  transition: $card-transition;
}

// shape
.card-rectangular {
  border-radius: $card-rectangular-border-radius;
}
.card-rounded {
  border-radius: $card-rounded-border-radius;
}

// hover shadow
.card-hover-shadow:hover {
  box-shadow: $card-box-shadow;
}
